.buffer-top {
    margin-top: 15px;
}

.text-field {
    background-color: white;
    min-height: 500px;
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.offset20px {
    margin-left: 20px
}

select {
    max-width: 30%;
}

.control-group {
    text-align: center;
}

.control-group > button {
    display: inline-block;
    margin: 0 15px;
}

