.buffer-top {
    margin-top: 15px;
}

.text-field {
    background-color: white;
    min-height: 500px;
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.offset20px {
    margin-left: 20px;
    padding-top: 5px;
}

select {
    max-width: 50%;
}

.control-group {
    text-align: left;
}

.control-group button {
    display: inline-block;
    width: 200px;
    height: 37px;

}

.white-space-pre {
    white-space: pre-wrap;
}

.form-text {
    margin-top: 12px;
    margin-bottom: 3px;
}

.cancel-anchor {
    color: #333;
    float: right;
}

/*--------------*/
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
