body {
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Container for contact's photo*/
.photo-container {
    height: 150px;
    width: 200px;
    overflow: hidden;
    text-align: center;
}

.photo-container img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

/*Pagination*/
.pages {
    text-align: center;
}

/*The name of contact*/
.name {
    font-size: 1.3em;
}

/*Checkbox inside table for selecting contact*/
.table-checkbox {
    vertical-align: middle !important;
    font-size: 4em !important;
}

.btn-delete {
    margin-left: 30px;
    min-width: 110px;
}

.btn-add {
    margin-left: 200px;
    min-width: 110px;
}

.items-display select {
    display: inline;
    max-width: 70px;
}

#link-email {
    cursor: hand;
}

.table .td-photo {
    vertical-align: middle;
}

/*-----------------TOOLTIP--------------*/
/* Tooltip container */
.tooltip-error {
    position: relative;
    display: inline-block;
    width: 100%;

}

/* Tooltip text */
.tooltip-error .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 1em;
    position: absolute;
    z-index: 1;
    top: 115%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip-error .tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.show-tooltip {
    visibility: visible !important;
    opacity: 1 !important;
}

/*do not highlight on click*/
#btn-delete-contacts:focus {
    outline: 0;
}

.page-list {
    display: none;
}

.show-list {
    display: inline-block;
    position: relative;
    bottom: 35px;
    right: 15px;
    height: 46px;
    z-index: 3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
    background: #fff;
    border-radius: 3px;
    max-width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.show-list a {
    display: inline-block;
    padding: 6px 10px;
}

#anchor-select-page:hover {
    cursor: hand;
}

.pages {
    display: inline;
    position: relative;
    left: 40%;
}

.items-display {
    display: inline;
    float: right;
    width: 19%;
    min-width: 240px;
    position: relative;
    top: 20px;
}

@media (max-width: 1050px) {
    .pages {
        display: inline;
        position: relative;
        left: 30%;
    }
}

@media (max-width: 870px) {
    .pages {
        display: inline;
        position: relative;
        left: 20%;
    }
}

@media (max-width: 760px) {
    .pages {
        display: block;
        position: relative;
        left: 0;
    }
}

/*-----------*/

.navbar-right button {
    width: 100%;
    /*margin: 15px auto;*/
    height: 60px;
    border-radius: 0;
    background-color: #f8f8f8;
    color: #337ab7;
    font-size: 1.1em;

}

#btn-delete-contacts {
    border-top: none;
}
#btn-delete-contacts:focus, #btn-delete-contacts:hover {
    border: 1px solid #8c8c8c;
}

.btn-container {
    position: fixed;
    width: 14.5%;
    top: 90px;
}

.content {
    margin-top: 60px;
}

@media (max-width: 767px) {
    .navbar-right button {
        width: 100%;
        border-radius: 0;
        background-color: #f8f8f8;
        /*margin: 10px auto;*/
        height: 40px;
    }

    .btn-container {
        width: 100%;
        position: relative;
        top: 0px;
    }

    .content {
        margin-top: 150px;
    }

    .tooltip-error .tooltiptext {
        left: 10%;

    }
}