.top-buffer {
    margin: 15px 0;
}

.btn-search {
    width: 100%;
    margin: 15px 35% 0 0;
    font-size: 1.4em;

}

.date {
    margin: 0 10px 10px 10px;
    max-width: 120px;
    display: inline-block;
}

.gender {
    max-width: 175px;
    min-width: 90px;
}

.family {
    max-width: 175px;
}

.margin-left-15px {
    margin-left: 15px;
}

.p-margin {
    margin: 15px 0 5px 0;
}

/*--------------*/
.close {
    position: relative;
    right: 15px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/*make button invisible*/
.btn-close, .btn-close:hover, .btn-close:active {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
