.top-buffer {
    margin: 15px 0;
}

.btn-search {
    width: 100%;
    margin: 15px 35% 0 0;
    font-size: 1.4em;

}

.date {
    margin: 0 10px 10px 10px;
    max-width: 120px;
    display: inline-block;
}

.gender {
    max-width: 175px;
    min-width: 90px;
}

.family {
    max-width: 175px;
}

.margin-left-15px {
    margin-left: 15px;
}

.p-margin {
    margin: 15px 0 5px 0;
}